@import url(https://fonts.googleapis.com/css?family=Montserrat);
.wrapper {
  display: flex;
  flex-direction: column; }

.row {
  flex-direction: column; }

* {
  margin: 0px;
  padding: 0px; }

Body {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 2em;
  padding: 0.5em;
  text-align: center; }

.leftnav {
  display: flex;
  flex-direction: column; }

.rightnav {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

nav {
  display: flex;
  background-color: #f79928;
  height: 80px;
  justify-content: center; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline-block; }

.top {
  height: 100vh; }

.jumboWrapper {
  background-image: url("../img/jumboBackground.jpg");
  color: #FFF;
  font-size: 4em;
  display: flex;
  background-color: aquamarine;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0.05em 0px #252525; }

.mapSection {
  background-color: #FFF; }
