@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  margin: 0px;
  padding: 0px; }

Body {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 2em;
  text-align: center;
  width: 100%; }

.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.row {
  display: flex;
  flex-direction: row; }

.top {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.bottom {
  background-color: #FFF;
  display: flex;
  flex-direction: column; }
  .bottom h1 {
    padding: 0.5em; }

.jumboWrapper {
  background-image: url("../img/jumboBackground.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  color: #FFF;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0.05em 0px #252525; }

.btn {
  display: block;
  font-size: 0.3em;
  padding: 0.5em 1em;
  margin: 1em auto;
  width: 33%;
  text-shadow: none;
  color: #FFF;
  background-color: #f79928;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 0.05em 0px #252525; }

nav {
  background-color: #f79928;
  min-height: 50px;
  color: #FFF;
  align-items: center; }

.logo {
  height: 4em;
  padding: 1em; }

.menu {
  justify-content: flex-end;
  flex-grow: 1; }

.navBtn {
  padding: 1em;
  text-decoration: none;
  color: #FFF; }

.navBtn:hover {
  background-color: #f9b059;
  flex-grow: 1; }

.mapsFrame {
  max-height: 300px; }
