@import 'flex';
@import 'reset';
@import 'variables';
@import 'mediaq';


@import url(https://fonts.googleapis.com/css?family=Montserrat);





//Main Styles
Body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2em;
}
nav {
    display: flex;
    background-color: $orange;
    height: 80px;
    justify-content: center;
    ul{
        list-style: none;
        li{
            display: inline-block;
            
        }
    }
}

.top {
    height: 100vh;
}

.jumboWrapper {
    background-image: url('../img/jumboBackground.jpg');
    color: #FFF;
    font-size: 4em;
    display: flex;
    background-color: aquamarine;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0.05em 0px $gray;
}

