@import 'flex';
@import 'reset';
@import 'variables';
@import 'mediaq';
@import url(https://fonts.googleapis.com/css?family=Montserrat);
//Main Styles
Body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
}
.leftnav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.rightnav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -60px;
    color: #FFF;
}
nav {
    #logo {
        height: 80%;
        padding: 0.5em;
    }
    display: flex;
    background-color: $orange;
    height: 80px;
    justify-content: center;
    ul {
        list-style: none;
        li {
            display: inline-block;
            padding: 1em 1.5em;
            margin: 0px 0.5em;
        }
        li:hover {
            background-color: lighten($orange, 10%);
        }
    }
}
.top {
    height: 100vh;
}
.jumboWrapper {
    background-image: url('../img/jumboBackground.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    color: #FFF;
    font-size: 4em;
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0.05em 0px $gray;
}
.mapSection {
    background-color: #FFF;
    height: 300px;
    maps {
        width: 100%;
        height: 100%;
    }
    mapsFrame {
        width: 100%;
        height: 100%;
    }
}

.btn {
    display: block;
    font-size: 0.3em;
    padding: 0.5em 1em;
    margin: 1em auto;
    width: 33%;
    text-shadow: none;
    color: #FFF;
    background-color: $orange;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0.05em 0px $gray;
}
